$w: 325px;
$h: 664px;
$headerH: 6rem;
$cardW: 325px;
$cardH: 664px;
$cardTopH: 20.5rem;
// $cardBtmH: $cardH - $cardTopH;
$imgWidth: 325px;
$imgHeight: 508px;

$purple: #7132b9;
$blue: #248cb6;
$indigo: #303f9f;
$cyan: #26c6da;
$lime: #afb42b;
$brown: #795548;

$red: rgb(219, 52, 52);
$green: rgb(50, 137, 50);
